h1
{
    color: orange;
}
h2
{
    color: aqua;
}
h3
{
    color: lawngreen;
}
img
{
    height: 100px;
    width: 200px;
    border: 2px solid black;
}
div
{
    display: flex;
    justify-content: space-between;
}